body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
    padding-top:10%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #1c7d86cf; 
    border-radius: 0px !important;
    top: 0px !important;
}
.opaque{
    opacity: 1 !important;
}
.white{
    color: white;
}